@import 'tailwindcss';

@theme {
  --color-primary: #0217fc;
  --color-orange: #ff6300;
  --color-text-link: #343434;
  --color-text: #bcbcbc;

  --font-iranYekan: var(--font-iranYekan), system-ui, sans-serif;
}
