@import 'tailwindcss';

@theme {
  --color-primary: #0a2fb6;
  --color-text-primary: #0217fc;
  --color-orange: #ff6300;
  --color-text-link: #343434;
  --color-text: #bcbcbc;
  --color-text-information: #acacac;
  --color-text-description: #7d8fb3;
  --color-text-services-about: #16205f;

  --font-iranYekan: var(--font-iranYekan), system-ui, sans-serif;
  --font-yekanBakhFaNum: var(--font-yekanBakhFaNum), system-ui, sans-serif;

  --breakpoint-xs: 22.5rem; /* 360px */
}

:root {
  --bullet-size: clamp(6px, 1.4vw, 10px);
  --bullet-gap: clamp(2px, 0.6vw, 3px);
  --bullet-border: clamp(1px, 0.25vw, 2px);
  --swiper-pagination-color: var(--color-text-primary);
  --swiper-pagination-bullet-inactive-color: var(--color-text-primary);
  --swiper-pagination-bullet-size: var(--bullet-size);
  --swiper-pagination-bullet-horizontal-gap: var(--bullet-gap);
}

/* Chromium/WebKit (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px; /* for horizontal bars */
}
*::-webkit-scrollbar-track {
  /* background: var(--sb-track, #111827); */
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb, var(--color-text-primary));
  /* border-radius: 8px; */
  /* border: 2px solid var(--sb-track, #111827); */ /* creates a gap look */
}
*::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

.swiper-pagination-bullet {
  width: var(--bullet-size);
  height: var(--bullet-size);
  border-radius: 9999px;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  background: transparent !important;
  border: var(--bullet-border) solid var(--swiper-pagination-bullet-inactive-color);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--swiper-pagination-color) !important;
  border: 0;
  transform: scale(1.15);
}

html {
  scroll-behavior: smooth;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}
